.skills {
  margin: var(--spacing-3) 0;
}
.skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.competences {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 240px;
}
